{
    "openapi": "3.0.0",
    "info": {
        "title": "Thefarmx API Documentation",
        "description": "https://neztwork.dev24h.net//api/v1.0",
        "termsOfService": "https://neztwork.dev24h.net/",
        "contact": {
            "email": "hotro@thefarmx.org"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://neztwork.dev24h.net//api/v1.0",
            "description": "Live host"
        },
        {
            "url": "http://thefarmx.local/api/v1.0",
            "description": "Local host"
        }
    ],
    "paths": {
        "/banner/getAll": {
            "get": {
                "tags": [
                    "Banner"
                ],
                "summary": "Get all banner",
                "description": "",
                "operationId": "BannerGetAll",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success operation"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/basket": {
            "get": {
                "tags": [
                    "Basket"
                ],
                "summary": "Get basket of user",
                "description": "",
                "operationId": "BasketGetAll",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "api_key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "device_id",
                        "in": "query",
                        "description": "Device ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Access token",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "discount_code",
                        "in": "query",
                        "description": "discount code",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "limit",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "referral_code",
                        "in": "query",
                        "description": "mã giới thiệu",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    }
                }
            },
            "post": {
                "tags": [
                    "Basket"
                ],
                "summary": "add product to basket",
                "description": "",
                "operationId": "BasketAddProduct",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "product_id",
                                    "quantity",
                                    "token",
                                    "type_payment"
                                ],
                                "properties": {
                                    "token": {
                                        "description": "access token",
                                        "type": "string"
                                    },
                                    "device_id": {
                                        "description": "device id",
                                        "type": "string"
                                    },
                                    "product_id": {
                                        "description": "product_id",
                                        "type": "integer"
                                    },
                                    "product_variation_id": {
                                        "description": "product_variation_id",
                                        "type": "integer"
                                    },
                                    "quantity": {
                                        "description": "quantity",
                                        "type": "integer"
                                    },
                                    "type_payment": {
                                        "description": "1.Tiền mặt, 2. Công nợ",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    },
                    "404": {
                        "description": "Account not exits"
                    },
                    "405": {
                        "description": "Account has not been activated yet"
                    }
                }
            }
        },
        "/basket/counter": {
            "get": {
                "tags": [
                    "Basket"
                ],
                "summary": "Get basket counter",
                "description": "",
                "operationId": "BasketCounter",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    }
                }
            }
        },
        "/basket/update": {
            "post": {
                "tags": [
                    "Basket"
                ],
                "summary": "update basket",
                "description": "",
                "operationId": "BasketUpdate",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "device_id",
                        "in": "query",
                        "description": "Device ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Access token",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "basket_data_androi",
                        "in": "query",
                        "description": "basket_data for androi",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "basket_data"
                                ],
                                "properties": {
                                    "basket_data": {
                                        "description": "Object basket data",
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "basket_item_id": {
                                                    "description": "basket_item_id",
                                                    "type": "integer"
                                                },
                                                "quantity": {
                                                    "description": "số lượng",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    },
                    "404": {
                        "description": "Account not exits"
                    },
                    "405": {
                        "description": "Account has not been activated yet"
                    }
                }
            }
        },
        "/basket/remove-item": {
            "post": {
                "tags": [
                    "Basket"
                ],
                "summary": "Remove items from basket",
                "description": "",
                "operationId": "BasketRemoveItems",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "device_id",
                        "in": "query",
                        "description": "token from api login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "basket_item_ids"
                                ],
                                "properties": {
                                    "basket_item_ids": {
                                        "description": "list item id in basket",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    },
                    "404": {
                        "description": "Account not exits"
                    },
                    "405": {
                        "description": "Account has not been activated yet"
                    }
                }
            }
        },
        "/basket/remove-all": {
            "post": {
                "tags": [
                    "Basket"
                ],
                "summary": "Remove All items from basket",
                "description": "",
                "operationId": "BasketRemoveAllItems",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    },
                    "404": {
                        "description": "Account not exits"
                    },
                    "405": {
                        "description": "Account has not been activated yet"
                    }
                }
            }
        },
        "/branch/getAll": {
            "get": {
                "tags": [
                    "Branch"
                ],
                "summary": "Get all Branch",
                "description": "",
                "operationId": "BranchGetAll",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success operation"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/branch/getTableByIdBranch": {
            "get": {
                "tags": [
                    "Branch"
                ],
                "summary": "Get all Table By Id Branch",
                "description": "",
                "operationId": "GetTableByIdBranch",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "idbranch",
                        "in": "query",
                        "description": "idbranch",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success operation"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/home/index": {
            "get": {
                "tags": [
                    "Home"
                ],
                "summary": "Get home data",
                "description": "",
                "operationId": "getHomeData",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "COMPANY ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id_branch",
                        "in": "query",
                        "description": "id chi nhanh ",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    },
                    "404": {
                        "description": "Account not exits"
                    },
                    "405": {
                        "description": "Account has not been activated yet"
                    }
                }
            }
        },
        "/quickom/oauth2/verify": {
            "get": {
                "tags": [
                    "Home"
                ],
                "summary": "Verify user token",
                "description": "Verifies the provided token and returns user details if valid.",
                "operationId": "verify",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "token for authorization",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "response_code": {
                                            "type": "string",
                                            "example": "00"
                                        },
                                        "user_id": {
                                            "type": "string",
                                            "example": "hashed_user_id"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "user@example.com"
                                        },
                                        "phone_number": {
                                            "type": "string",
                                            "example": "123456789"
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "John Doe"
                                        },
                                        "host": {
                                            "type": "boolean",
                                            "example": false
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    },
                    "404": {
                        "description": "Account not exists"
                    },
                    "405": {
                        "description": "Account has not been activated yet"
                    }
                }
            }
        },
        "/location/province": {
            "get": {
                "tags": [
                    "location"
                ],
                "summary": "Get province",
                "description": "",
                "operationId": "locationProvince",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/location/district": {
            "get": {
                "tags": [
                    "location"
                ],
                "summary": "Get district",
                "description": "",
                "operationId": "locationDistrict",
                "parameters": [
                    {
                        "name": "province_id",
                        "in": "query",
                        "description": "province_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/location/ward": {
            "get": {
                "tags": [
                    "location"
                ],
                "summary": "Get ward",
                "description": "",
                "operationId": "locationWard",
                "parameters": [
                    {
                        "name": "district_id",
                        "in": "query",
                        "description": "district_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/notification": {
            "get": {
                "tags": [
                    "Notifications"
                ],
                "summary": "get all notifications",
                "description": "",
                "operationId": "notification",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "access token",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "limit",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/notification/read": {
            "post": {
                "tags": [
                    "Notifications"
                ],
                "summary": "read notification",
                "description": "",
                "operationId": "readNotification",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "notification_id"
                                ],
                                "properties": {
                                    "notification_id": {
                                        "description": "notification_id",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    }
                }
            }
        },
        "/orders": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Get all orders",
                "description": "",
                "operationId": "OrdersGetAll",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "device_id",
                        "in": "query",
                        "description": "Device ID",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "referral_code",
                        "in": "query",
                        "description": "mã giới thiệu",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "null: tất cả, 1:chờ thanh toán, 2:Chờ lấy hàng, 3: Đang giao, 4: Đã giao, 5: Đã hủy",
                        "required": false,
                        "schema": {
                            "enum": [
                                1,
                                2,
                                3,
                                4,
                                5
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "limit",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    }
                }
            },
            "post": {
                "tags": [
                    "Orders"
                ],
                "summary": "add orders",
                "description": "",
                "operationId": "OrdersAdd",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "device_id",
                        "in": "query",
                        "description": "Device ID",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "address_id",
                                    "payment_method_id",
                                    "shipping_method"
                                ],
                                "properties": {
                                    "address_id": {
                                        "description": "AddressID",
                                        "type": "integer"
                                    },
                                    "province_id": {
                                        "description": "province_id",
                                        "type": "integer"
                                    },
                                    "district_id": {
                                        "description": "district_id",
                                        "type": "integer"
                                    },
                                    "ward_id": {
                                        "description": "ward_id",
                                        "type": "integer"
                                    },
                                    "home_number": {
                                        "description": "home_number",
                                        "type": "string"
                                    },
                                    "full_address": {
                                        "description": "full_address",
                                        "type": "string"
                                    },
                                    "fullname": {
                                        "description": "Tên đầy đủ",
                                        "type": "string"
                                    },
                                    "phone": {
                                        "description": "Số điện thoại",
                                        "type": "string"
                                    },
                                    "email": {
                                        "description": "Email",
                                        "type": "string"
                                    },
                                    "basket_item_ids": {
                                        "description": "basket_item_ids",
                                        "type": "array",
                                        "items": {}
                                    },
                                    "payment_method_id": {
                                        "description": "payment_method_id",
                                        "type": "integer"
                                    },
                                    "shipping_method": {
                                        "description": "shipping_method",
                                        "type": "integer"
                                    },
                                    "discount_code": {
                                        "description": "Mã giảm giá",
                                        "type": "string"
                                    },
                                    "id_branchs": {
                                        "description": "Đại lý",
                                        "type": "integer"
                                    },
                                    "latitude": {
                                        "description": "Latitude",
                                        "type": "string"
                                    },
                                    "longitude": {
                                        "description": "Longitude",
                                        "type": "string"
                                    },
                                    "date_receiver": {
                                        "description": "date_receiver",
                                        "type": "string"
                                    },
                                    "referral_code": {
                                        "description": "mã giơi thieu",
                                        "type": "string"
                                    },
                                    "point": {
                                        "description": "point",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    }
                }
            }
        },
        "/orders/{order_id}": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "get a orders detail",
                "description": "",
                "operationId": "OrdersGetDetail",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_id",
                        "in": "path",
                        "description": "order_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    }
                }
            }
        },
        "/orders/cancel/{order_id}": {
            "post": {
                "tags": [
                    "Orders"
                ],
                "summary": "Cancel a orders",
                "description": "",
                "operationId": "OrdersCancel",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "token from api login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "device_id",
                        "in": "query",
                        "description": "device id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_id",
                        "in": "path",
                        "description": "order_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "cancel_reason"
                                ],
                                "properties": {
                                    "cancel_reason": {
                                        "description": "cancel_reason",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    }
                }
            }
        },
        "/posts": {
            "get": {
                "tags": [
                    "Posts"
                ],
                "summary": "get all posts",
                "operationId": "getAllPosts",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "description": "Category ID",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "total record return",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page number",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/posts/category/getAll": {
            "get": {
                "tags": [
                    "Posts"
                ],
                "summary": "get all posts category",
                "operationId": "getAllPostsCategory",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/posts/detail": {
            "get": {
                "tags": [
                    "Posts"
                ],
                "summary": "get detail posts",
                "operationId": "getDetailPosts",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID Tin tức",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/product/getAll": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Get all products",
                "description": "",
                "operationId": "ProductGetAll",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "category_ids[]",
                        "in": "query",
                        "description": "Danh sách id danh mục, ex: [1,2,3]",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    },
                    {
                        "name": "keywords",
                        "in": "query",
                        "description": "Từ khóa tìm kiếm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "price_from",
                        "in": "query",
                        "description": "Giá thấp nhất",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "price_to",
                        "in": "query",
                        "description": "Giá cao nhất",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "skip_product_ids[]",
                        "in": "query",
                        "description": "Danh sách id sản phẩm bỏ qua, ex: [1,2,3]",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    },
                    {
                        "name": "id_branch",
                        "in": "query",
                        "description": "id đại lý ",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "limit",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "sắp xếp sản phẩm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    }
                }
            }
        },
        "/product/{id}": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Get product by id",
                "description": "",
                "operationId": "ProductGetByID",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    }
                }
            }
        },
        "/product/type/getAll": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Get all product type",
                "description": "",
                "operationId": "ProductTypeGetAll",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    }
                }
            }
        },
        "/user/login": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "User login",
                "description": "",
                "operationId": "UserLogin",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "company_id",
                                    "api_key",
                                    "email_or_phone",
                                    "password"
                                ],
                                "properties": {
                                    "company_id": {
                                        "description": "Company ID",
                                        "type": "string"
                                    },
                                    "api_key": {
                                        "description": "API KEY",
                                        "type": "string"
                                    },
                                    "email_or_phone": {
                                        "description": "email_or_phone",
                                        "type": "string"
                                    },
                                    "password": {
                                        "description": "password",
                                        "type": "string"
                                    },
                                    "fcm_token": {
                                        "description": "",
                                        "type": "string"
                                    },
                                    "device_id": {
                                        "description": "",
                                        "type": "string"
                                    },
                                    "device_os": {
                                        "description": "",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    },
                    "404": {
                        "description": "Account not exits"
                    },
                    "405": {
                        "description": "Account has not been activated yet"
                    }
                }
            }
        },
        "/user/register": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "User register",
                "description": "",
                "operationId": "UserRegister",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "company_id",
                                    "api_key",
                                    "email",
                                    "phone",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "company_id": {
                                        "description": "Company ID",
                                        "type": "string"
                                    },
                                    "api_key": {
                                        "description": "API KEY",
                                        "type": "string"
                                    },
                                    "fullname": {
                                        "description": "fullname",
                                        "type": "string"
                                    },
                                    "email": {
                                        "description": "email",
                                        "type": "string"
                                    },
                                    "password": {
                                        "description": "password, min lenght 6",
                                        "type": "string"
                                    },
                                    "password_confirmation": {
                                        "description": "password confirmation",
                                        "type": "string"
                                    },
                                    "phone": {
                                        "description": "phone",
                                        "type": "numeric"
                                    },
                                    "address": {
                                        "description": "address",
                                        "type": "string"
                                    },
                                    "fcm_token": {
                                        "description": "",
                                        "type": "string"
                                    },
                                    "device_id": {
                                        "description": "",
                                        "type": "string"
                                    },
                                    "device_os": {
                                        "description": "",
                                        "type": "string"
                                    },
                                    "o_lat": {
                                        "description": "",
                                        "type": "string"
                                    },
                                    "o_long": {
                                        "description": "",
                                        "type": "string"
                                    },
                                    "recommender": {
                                        "description": "Mã giới thiệu ",
                                        "type": "numeric"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    },
                    "404": {
                        "description": "Account not exits"
                    },
                    "405": {
                        "description": "Account has not been activated yet"
                    }
                }
            }
        },
        "/user/update": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "User update info",
                "description": "",
                "operationId": "UserUpdate",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API KEY",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "email",
                                    "phone"
                                ],
                                "properties": {
                                    "fullname": {
                                        "description": "Fullname of user",
                                        "type": "string"
                                    },
                                    "email": {
                                        "description": "Email of user",
                                        "type": "string"
                                    },
                                    "phone": {
                                        "description": "phone",
                                        "type": "numeric"
                                    },
                                    "password_old": {
                                        "description": "old password, require when update password",
                                        "type": "string"
                                    },
                                    "password": {
                                        "description": "new password, min lenght 6, require when update password",
                                        "type": "string"
                                    },
                                    "password_confirmation": {
                                        "description": "password confirmation, require when update password",
                                        "type": "string"
                                    },
                                    "hecta": {
                                        "description": "Diện tích",
                                        "type": "integer"
                                    },
                                    "id_branchs": {
                                        "description": "Chọn Chi nhánh",
                                        "type": "integer"
                                    },
                                    "gender": {
                                        "description": "1: male, 2: female, 0: unknown, 3: other",
                                        "type": "integer"
                                    },
                                    "avatar_file": {
                                        "description": "Avatar file",
                                        "type": "file"
                                    },
                                    "fcm_token": {
                                        "description": "fcm_token",
                                        "type": "string"
                                    },
                                    "device_id": {
                                        "description": "device_id",
                                        "type": "string"
                                    },
                                    "device_os": {
                                        "description": "device_os",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    },
                    "404": {
                        "description": "Account not exits"
                    },
                    "405": {
                        "description": "Account has not been activated yet"
                    }
                }
            }
        },
        "/user/forgot-password": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Request reset Password",
                "description": "",
                "operationId": "UserForgotPassword",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "company_id",
                                    "api_key",
                                    "email_or_phone"
                                ],
                                "properties": {
                                    "company_id": {
                                        "description": "COMPANY ID",
                                        "type": "integer"
                                    },
                                    "api_key": {
                                        "description": "API Key",
                                        "type": "integer"
                                    },
                                    "email_or_phone": {
                                        "description": "email_or_phone",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    },
                    "404": {
                        "description": "Account not exits"
                    },
                    "405": {
                        "description": "Account has not been activated yet"
                    }
                }
            }
        },
        "/user/reset-password": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "User Reset Password",
                "description": "",
                "operationId": "UserResetPassword",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "company_id",
                                    "api_key",
                                    "reset_password_code",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "company_id": {
                                        "description": "COMPANY ID",
                                        "type": "integer"
                                    },
                                    "api_key": {
                                        "description": "API Key",
                                        "type": "integer"
                                    },
                                    "reset_password_code": {
                                        "description": "reset_password_code from email",
                                        "type": "integer"
                                    },
                                    "password": {
                                        "description": "password, min lenght 6",
                                        "type": "string"
                                    },
                                    "password_confirmation": {
                                        "description": "password confirmation",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    },
                    "404": {
                        "description": "Account not exits"
                    },
                    "405": {
                        "description": "Account has not been activated yet"
                    }
                }
            }
        },
        "/user/me": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Get user information",
                "description": "",
                "operationId": "UserGetInfo",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "COMPANY ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    },
                    "404": {
                        "description": "Account not exits"
                    },
                    "405": {
                        "description": "Account has not been activated yet"
                    }
                }
            }
        },
        "/user/logout": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "User logout",
                "description": "",
                "operationId": "UserLogout",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "COMPANY ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    },
                    "404": {
                        "description": "Account not exits"
                    },
                    "405": {
                        "description": "Account has not been activated yet"
                    }
                }
            }
        },
        "/user/historycoupon": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "User historycoupon",
                "description": "",
                "operationId": "historycoupon",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "COMPANY ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "referral_code",
                        "in": "query",
                        "description": "mã giới thiệu",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    },
                    "404": {
                        "description": "Account not exits"
                    },
                    "405": {
                        "description": "Account has not been activated yet"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Files": {
                "properties": {
                    "id": {
                        "schema": "Files",
                        "description": "id",
                        "type": "integer"
                    },
                    "file_path": {
                        "schema": "Files",
                        "description": "Đường dẫn file",
                        "type": "string"
                    },
                    "file_src": {
                        "schema": "Files",
                        "description": "Link file",
                        "type": "string"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Files"
                }
            },
            "District": {
                "properties": {
                    "id": {
                        "schema": "District",
                        "description": "id",
                        "type": "integer"
                    },
                    "name": {
                        "schema": "District",
                        "description": "Tên quận/huyện",
                        "type": "string"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "District"
                }
            },
            "Province": {
                "properties": {
                    "id": {
                        "schema": "Province",
                        "description": "id",
                        "type": "integer"
                    },
                    "name": {
                        "schema": "Province",
                        "description": "Tên tỉnh/tp",
                        "type": "string"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Province"
                }
            },
            "Ward": {
                "properties": {
                    "id": {
                        "schema": "Ward",
                        "description": "id",
                        "type": "integer"
                    },
                    "name": {
                        "schema": "Ward",
                        "description": "Tên phường/xã",
                        "type": "string"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Ward"
                }
            },
            "ProductType": {
                "properties": {
                    "id": {
                        "schema": "ProductType",
                        "description": "product type id",
                        "type": "integer"
                    },
                    "name": {
                        "schema": "ProductType",
                        "description": "product type name",
                        "type": "string"
                    },
                    "parent_id": {
                        "schema": "ProductType",
                        "description": "product type parent id",
                        "type": "integer"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "ProductType"
                }
            }
        }
    },
    "externalDocs": {
        "description": "Find out more about sibafood",
        "url": "https://thefarmx.org/"
    }
}